:root {
  --basic-char-width: 20px;
}

body {
  background-color: #DDD9FF;
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

main {
  display: flex;
  justify-content: space-between;
}

p {
  letter-spacing: 1px;
  font-size: 30px;
}

input {
  text-align: center;
  margin: 3px;
  border: 2px solid black;
  font-size: 27px;
}

input[type='submit'],
input[type='reset'] {
  background-color: #e4ffdb;
  border: 1px solid black;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 27px;
}
input[type="radio"] {
    display:inline-block;
}

input.apt{
  width: 100px;
}

input.zip{
  width: 80px;
}

input.state-input{
  width: 115px;
}

.red{
  color: red;
}

#output {
  margin-left: 5px;
  text-align: center;
  width: 40%;
}

#inputForm {
  text-align: left;
  margin-right: 5px;
  padding: 0px 0px 30px 30px;
  width: 60%
}

#inputForm,
#output {
  border: 2px dashed black;
  /*padding: 20px;*/
}
